# =========================
# IntelliJ / IDE files
# =========================
.idea/
*.iml

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
.env
.env.local
.env.production

# =========================
# Java / Spring Boot
# =========================
target/
*.log

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build & cache
# =========================
dist/
build/
